*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow: hidden;
}
.main{
    width: 370px;
    background-color: rgb(62, 58, 80);
    
 /* margin: 0px 50px; */
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 20px;
}


 
.brd{
    border-radius: 50%;
   
    font-size: 20px;
 
}

#result{
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    text-align: right;
    outline: none;
}

.content{
    margin-left: 10px;
}